.gallery-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1400px;
    margin: 15px auto;
  }
  
  .search-form {
    text-align: center;
  }
  
  .search-input {
    width: 225px;
    padding: 6px 34px 6px 10px;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    outline: none;
  }
  
  .search-input:focus {
    border-color: #dcedc8;
  }
  
  .search-btn {
    width: 60px;
    height: 38px;
    cursor: pointer;
    background-color: #8bc34a;
    color: #dcedc8;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    transition: background-color 0.15s ease-in;
  }
  
  .search-btn:hover {
    background-color: #689f38;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
  }
  
  .gallery__item {
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
    margin-top: 30px;
  }
  
  .gallery-img {
    width: 100%;
    height: 100%;
    max-width: unset;
    object-fit: cover;
  }
  